:root {
  --primary-color: rgb(220, 207, 202);
  --accent-color: rgb(255, 255, 255);
  --navbar-size: 18pt;
  --background-color: black;
  --title-size: 8vw;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  user-select:none;
  font-weight: lighter;
  text-rendering: optimizeLegibility;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  position: relative;
  background: rgb(0, 0, 0);
}

.navbar {
  justify-content: space-between;
  display: flex;
  padding: 3% 3% 0% 3%;  /* syntax: top right bottom left */
  position:relative;
  z-index: 99;
  width:100%;
}

#menu-button {
  position: relative;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

#menu-button:hover .dropdown-content {
  display: block;
}

#menu-button:hover .dropdown-content a {
  display: block;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s ease;
}

.navbar a {
  font-size: var(--navbar-size);
  user-select: none;
  font-weight: lighter;
}
a:hover {
  color: white;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 50px;
  color: var(--primary-color);
  transition: color 0.3s ease;
  animation: spin 20s infinite linear; 
}

.material-symbols-outlined:hover{
  color: white;
}

.externalLink {
  text-decoration: underline;
}
.content {
  position: relative;
  left:10%;
  max-width: 80%;
  color: var(--primary-color);
  padding-bottom: 10%;
  mix-blend-mode: difference;
}

#gallery {
  justify-content: center;
  display:flex; 
}

.content img{
  max-width: 100%; /* Ensures the image doesn't exceed the parent div's width */
}
#headshot{
  /* max-height: 120vh; */
  max-width: 60vw;
}
.title{
  font-size: var(--title-size);
  font-weight: bold;
}
#haloes {
  position: absolute;
  top:5%;
  left:5%;

}
#haleskarth {
  position: absolute;
  bottom:15%;
  right:0%;
}


@keyframes fade-in{
  50% {
    display: none;
  }
}

@keyframes spin{
  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background:rgb(1,3,21);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, rgb(1,3,21) 33%, rgb(220, 207, 202) 66%, rgb(1,3,21) 99%);
  border-radius: 1px;
}